<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2">
            <img src="/images/ucas_logo.png" alt="ucas_logo">
          </div>
          <div class="col-sm-offset-1 col-sm-5">
            <p class="text-center">版权所有 © 中国科学院大学 - 2018<br />地址:北京市怀柔区怀北镇怀北庄中国科学院大学雁栖湖校区
            </p>
          </div>
          <div class="col-sm-offset-1  col-sm-3">
            <p><span class="glyphicon glyphicon-chevron-right">
          <%= link_to '中国科学院大学', 'http://www.ucas.ac.cn/' %>
          </span></p>

            <p><span class="glyphicon glyphicon-chevron-right">
          <%= link_to '中国科学院大学图书馆', 'http://lib.ucas.ac.cn/home' %>
          </span></p>
          </div>
        </div>

      </div>
    </div>

  </footer>
</div>
